.App {
  text-align: center;
  width: 100%vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.Header {
  animation: Header .8s forwards 0s ease-in;
  color: whitesmoke;
  text-shadow: 1px 1px rgba(143, 153, 247, 0.253);
}

.poster {
  animation: Poster .8s forwards 0s ease-out;
  box-shadow: 6px 6px 5px 2px black;
  opacity: .8;
  height: 456px;
  width: 300px;
}

.App-intro {
  font-size: large; 
}

.navbar {
  display: inline-block;
}

body {
  background-image: url("../src/movietheaterblur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.random {
  margin-top: 7vh;
}

.playlist {
  margin-top: 7vh;
}

.playlist-buttons {
  margin: .2em;
}

.search {
  margin-top: 7vh;
}

.searchButton {
  border-radius: 10px; 
}

#movie-display {
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.contain-pie {
  height: 800px;
  width: 100vw;
}

.buttons {
  margin: 5px;
  padding: 8px;
  color: whitesmoke;
}

.buttons:hover {
  color: black;
  background-image: radial-gradient(yellow, rgba(197, 197, 31, 0.596), rgba(168, 180, 62, 0.37));
  border-radius: 50%;
  font-weight: bold;
}

.icon {
  font-size: 20px;
  margin: 5px;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.hamster {
  border-radius: 50%;
  box-shadow: 2px 2px 2px black;
}

.ReactTable {
  background-color: whitesmoke;
  margin-top: 5vh;
}

.userDisplay {
  margin-top: 5vh;
}

.upcomingDisplay {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: .5em;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.upcomingTitle {
  font-size: 20px;
}

.upcoming0 {
  grid-area: 1 / 1 / span 1 / span 1;
}

.upcoming1 {
  grid-area: 1 / 2 / span 1 / span 1;
}

.upcoming2 {
  grid-area: 1 / 3 / span 1 / span 1;
}

.upcoming3 {
  grid-area: 1 / 4 / span 1 / span 1;
}

.home:hover ~ #home{
  opacity: 1;
}

.search:hover ~ #search{
  opacity: 1;
}

.userPage:hover ~ #userPage{
  opacity: 1;
}

.upcoming:hover ~ #upcoming{
  opacity: 1;
}

.logout:hover ~ #logout{
  opacity: 1;
}

.login:hover ~ #login{
  opacity: 1;
}

.register:hover ~ #register{
  opacity: 1;
}

.list:hover ~ #list{
  opacity: 1;
}

.vote:hover ~ #vote{
  opacity: 1;
}

.iconText {
  display: block;
  color: whitesmoke;
  margin-top: .5em;
  float: left;
  position: absolute;
  margin-left: 48vw;
  opacity: 0;
}

.voteHeader {
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1vw;
}

.viewers {
  grid-area: 1 / 1 / span 1 / span 4;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.option1 {
  grid-area: 2 / 1 / span 1 / span 1;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.option2 {
  grid-area: 2 / 2 / span 1 / span 1;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.option3 {
  grid-area: 2 / 3 / span 1 / span 1;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.option4 {
  grid-area: 2 / 4 / span 1 / span 1;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.optionPoster {
  height: 444px;
  width: 300px;
  box-shadow: 6px 6px 5px 2px black;
  opacity: .8;
}

button:active {
  transform: translateY(4px);
}

.winnerPoster {
  animation: WinningMovie 1.5s forwards .2s ease-in;
}

@media screen and (max-width: 600px) {
  .Header {font-size: 8px;}
  .optionPoster {height: 75px; width: 50px;}
  .upcoming0 {grid-area: 1 / 1 / span 1 / span 4}
  .upcoming1 {grid-area: 2 / 1 / span 1 / span 4}
  .upcoming2 {grid-area: 3 / 1 / span 1 / span 4}
  .upcoming3 {grid-area: 4 / 1 / span 1 / span 4}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes Header{
  0%{
      transform: rotate(0) translateY(-150%);
      opacity: 0;
      }
  37%{
      transform: rotate(0) translateY(-150%);
      }
  100%{
      transform: rotate(0) scale(2.5) translateY(20%);
      opacity: 1;
      }
}

@keyframes Poster{
  0%{
      transform: rotate(0) translateX(-420%) skewX(50deg);
      transform-origin: 50% 50%;
      opacity: 0.75;
      box-shadow: 6px 6px 5px 2px black;
      }
  100%{
      transform: rotate(0) skewX(0deg);
      }
}

@keyframes WinningMovie{
  0%{
      transform: rotate(xx);
      }
  100%{
      transform: rotate(0);
      transform-origin: 50% 50%;
      box-shadow: 10px 10px 5px 2px black;
      }
}